# # venv/
# # __pycache__/
# # .env
# # *.pyc
# # .DS_Store


# # Environment variables
# .env

# # Python
# __pycache__/
# *.pyc
# *.pyo
# *.pyd

# # Virtual environments
# venv/
# env/

# # Mac
# .DS_Store

# # Docker
# qdrant_storage/

# # Logs
# *.log

# # IDE
# .vscode/
# .idea/











# -----------------------
# ENVIRONMENT
# -----------------------
.env

# -----------------------
# PYTHON
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# -----------------------
# DATABASE
# -----------------------
*.db

# -----------------------
# NODE / FRONTEND
# -----------------------
node_modules/
frontend/node_modules/

# Build files
frontend/build/

# -----------------------
# LOGS
# -----------------------
*.log

# -----------------------
# OS FILES
# -----------------------
.DS_Store

# -----------------------
# IDE
# -----------------------
.vscode/
.idea/

# -----------------------
# DOCKER / QDRANT
# -----------------------
qdrant_storage/

# -----------------------
# MISC
# -----------------------
*.swp
*.bak